@import "./variables.css";
@import "./tailwindcss/index.css";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'YekanBakhFa', sans-serif;
    direction: rtl;
    background-color: var(--color-gray-50);
    color: var(--color-blue-900);
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}


